* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: Open-Sans, Helvetica, Arial, sans-serif;
}

a {
  color: #222222;
}

button {
  background-color: #222222;
  color: #eeeeee;
  border-radius: 0.3rem;
  border: 1px solid #000000;
  width: 40%;
  height: 2.5em;
  transition: background-color, color 300ms ease-in-out;

  &:hover {
    background-color: #eeeeee;
    color: #222222;
  }

  &:active {
    background-color: #222222;
    color: #eeeeee;
  }
}

h1, h2, h3, h4 {
  font-family: 'Montaga', Georgia, serif;
}

h1 {
  font-size: 4rem;
}

.container h2 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 3rem 0;
}

h3 {
  font-size: 1.5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  font-family: Open-Sans, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #222222;
}